<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YELPCAMP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="/">Home</a>
          <a class="nav-link" href="/campgrounds">campgrounds</a>
          <a class="nav-link" href="/campgrounds/new">NEW campgrounds</a>
        </div>
        <div class="navbar-nav m-auto">
          <% if(!currentuser){ %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% }else{ %>
          <a class="nav-link" href="/logout">logout</a>
          <% } %>
          <ul class="nav-item">
          <% if(currentuser){ %>
            <li class="nav-link"><%=currentuser.username %></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </nav>